<div class="container">
  <div class="headers">
    <h1>Find your new family friend!</h1>
    <button mat-flat-button [routerLink]="'/add'">Add</button>
    <mat-form-field appearance="outline">
      <mat-label>Search Pets</mat-label>
      <input matInput [(ngModel)]="searchWord" (input)="searchPet()" placeholder="Enter keyword">
    </mat-form-field>
  </div>
  <div class="pets" *ngFor="let pet of petList">
    <app-pet-card [pet]="pet" [showButtons]="showButtons"></app-pet-card>
  </div>
</div>
