<div class="petCards">
  <div (click)="viewClick()">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>{{ pet.name }}</mat-card-title>
        <mat-card-subtitle>${{ pet.price }}</mat-card-subtitle>
      </mat-card-header>
      <img
        class="imgClass"
        [src]="pet.imageUrl"
        [alt]="pet.name"
        mat-card-image
      />
      <div class="description" *ngIf="showPetDescription">
        <mat-card-content>
          <p>
            {{ pet.description }}
          </p>
        </mat-card-content>
      </div>

      <div class="buttons" *ngIf="showButtons">
        <mat-card-actions>
          <button (click)="viewClick()" mat-button>View</button>
          <button (click)="editClick()" mat-button>Edit</button>
          <button (click)="deleteClick(pet.id)" mat-button>Delete</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
</div>
