<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{pet.Name}}</mat-card-title>
      <mat-card-subtitle>{{pet.price}}</mat-card-subtitle>
    </mat-card-header>
    <img id="dynamicImage" mat-card-image>
    <mat-card-content>
      <p>
        {{pet.description}}
      </p>
    </mat-card-content>
  </mat-card>

  <script>
    document.getElementById("dynamicImage").src = pet.image;
    document.getElementById("dynamicImage").alt = "Photo of " + pet.name;
  </script>